body{
    background-color: rgb(236, 236, 236);
    padding:0;
    margin:0;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #a08e9f; 
    border-radius: 50%px;
  }

  
.ms-header{
    width: 100%;
    height: 120px;
    background-color: rgb(18, 18, 34);
    background-image: url("../images/bg-header.png");
    background-repeat: repeat-x;

}

.ms-footer{
    width:100%;
    height:80px;
    background-color:rgb(3, 3, 3);
}

.ms-header-part{
    background-color:rgba(0, 0, 0, 0.418);
    width:100%;
    height:100%;
    max-height: 100%;
    color:white;
    display:flex;
    justify-content: space-between;

}
.ms-header-part h1, h2, h3{
    margin:0;
    padding:20px ;
    text-transform:uppercase;
    color:rgb(226, 226, 226)

}
.ms-header-part-logo{
    padding:5px;
} 
.ms-header-part-logo img{
    width:130px;
    height:110px;

}
.ms-body{
    width:95%;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.ms-body-left{
    width:25%;
    padding:5px;
    background-color:whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.ms-body-right{
    width:70%;
    padding:5px;
    background-color:rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  

}

.input-search{
    display:flex;
    justify-content: flex-start;
    width:80%;
    margin:0 auto
}
#searchInput{
    width: 90%;
    height: 27px;
    border-radius:3px;

    display: block;
    margin-top: 15px;
    font-size: 17px;
    padding-left: 10px;
}
.search-icon{
    margin-left: -23px;
    margin-top: 22px;
}

.search-results{
    margin-top:50px
}


.search-result{
    width:100%;
    height:30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.search-result{
    width:80%;
    margin:0 auto;
    height:auto;
    padding:5px 10px;
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;    margin-bottom:20px;

}
.search-result div{
    padding:10px 0px;
}
.search-result h4{
    margin:0;
    padding:0;
}
#search-result-img{
width:50px;
height:50px;
border-radius:50%;
}

.user-porfil-pic{
    width:150px;
    height:150px;
    border:2px solid rgb(141, 141, 141)
}

.ms-body-right-top span{
    padding:7px 10px  7px 5px;
    font-size:18px;
    font-weight:700;
  

}
.title-info{
    color:rgb(14, 94, 63);
    display:inline-block
}



.ms-body-right-cnt{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.ms-body-right-top div{
    
    margin-bottom:10px
}
.right-top-3, .right-top-2,.right-top-4{
    margin-top:20px;
}

.ms-repo-sides{
    width:100%;

}
.ms-repo{
    width:calc(100%/3 - 40px);
    height:250px;
    background-color:rgb(235 235 235);
    border-bottom:1px solid rgb(163, 163, 163);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin:10px;
 
}
.ms-repo-header{
    width:100%;
    height:40px;
    text-align:center;
    background-color:#790473;
    color:white;
    padding:5px 0px;
   
}
.ms-repo-header h3{
    padding:0;
    margin:0;
}

.title-info-repo{
    color:rgb(14, 121, 4);
    text-transform:uppercase;
    display:inline-block;
    font-size:13px !important
}
.title-info-repo span{
    font-size:14px !important

}
.ms-repo-header-cnt{
    padding-left:15px;
   
}
.ms-repo-sides-cnt{
    display:flex;
    flex-wrap: wrap;
}
.repo-side{
    height:600px;
    overflow-y:scroll
}