body{
    background-color: rgb(250, 250, 250);
    padding:0;
    margin:0;
}
.ms-header{
    width:100%;
    height:120px;
    background-color:rgb(18, 18, 34);
}


.ms-footer{
    width:100%;
    height:160px;
    background-color:rgb(3, 3, 3);
}

